.scroll-content {
	position: absolute;
	top: 0;
	left: 0
}
.slider-wrap {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #23170d;
	width: 9px;
}
.slider-vertical {
	position: relative;
	height: 100%
}
.ui-slider-handle {
	width: 9px;
	height: 17px;
	margin: 0 auto;
	display: block;
	position: absolute
}
.ui-slider-handle img {
	border: none
}
.scrollbar-top {
	position: absolute;
	top: 0;
}
.scrollbar-bottom {
	position: absolute;
	bottom: 0;
}
.scrollbar-grip {
	position: absolute;
	top: 50%;
	margin-top: 0px;
}
.ui-slider-range {
	position: absolute;
	width: 100%;
	background-color: #23170d
}
